<h2 mat-dialog-title class="modal-header">
    <mat-icon color="primary">{{ isEditMode ? 'edit' : 'add_circle' }}</mat-icon>
    <span>{{ isEditMode ? 'Modifier l\'Article' : 'Nouvel Article' }}</span>
</h2>

<mat-dialog-content class="modal-content" [formGroup]="articleForm">
    <div class="form-grid">
        <!-- Section: General Info -->
        <div class="form-section">
            <h6 class="section-title">{{ general_information }}</h6>
            <div class="form-row">
                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ code_article }}</mat-label>
                    <input matInput formControlName="articlecode" placeholder="Ex: RF163100...">
                    <mat-icon matSuffix>qr_code</mat-icon>
                    <mat-error *ngIf="f['articlecode'].errors?.['required']">Code article requis</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-2">
                    <mat-label>{{ description_label }}</mat-label>
                    <input matInput formControlName="description" placeholder="Ex: Bois Rouge Finlandais...">
                    <mat-error *ngIf="f['description'].errors?.['required']">Description requise</mat-error>
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ categories_label }}</mat-label>
                    <mat-select formControlName="selectedCategory" (selectionChange)="onCategoryChange($event.value)">
                        <mat-option *ngFor="let category of categories" [value]="category.id">
                            {{ category.description }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['selectedCategory'].errors?.['required']">Catégorie requise</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ under_categories_label }}</mat-label>
                    <mat-select formControlName="selectedSubCategory">
                        <mat-option *ngFor="let subcategory of filteredSubCategories" [value]="subcategory.id">
                            {{ subcategory.description }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['selectedSubCategory'].errors?.['required']">Sous-catégorie requise</mat-error>
                </mat-form-field>
            </div>
        </div>

        <!-- Section: Wood Properties -->
        <div class="form-section highlight-section" *ngIf="woodId === 1">
            <h6 class="section-title">{{ wood_properties_label }}</h6>
            <div class="form-row">
                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ thikness_label }}</mat-label>
                    <mat-select formControlName="selectedThikness">
                        <mat-option *ngFor="let thikness of appvariablesThikness" [value]="thikness.id">
                            {{ thikness.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ width_label }}</mat-label>
                    <mat-select formControlName="selectedWidth">
                        <mat-option *ngFor="let width of appvariablesWidth" [value]="width.id">
                            {{ width.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="lengths-selection">
                <label class="field-label">{{ legth_label }} (cm)</label>
                <div class="chips-container">
                    <mat-checkbox *ngFor="let length of appvariablesLength" [checked]="isLengthSelected(length.name)"
                        (change)="onLengthSelectionChange($event, length.name)" class="length-checkbox">
                        {{ length.name }}
                    </mat-checkbox>
                </div>
            </div>
        </div>

        <!-- Section: Sales & Pricing -->
        <div class="form-section">
            <h6 class="section-title">{{ sales_price_label }}</h6>
            <div class="form-row">
                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ price_label }} TTC</mat-label>
                    <input type="number" formControlName="selectedPriceTTC" matInput>
                    <span matSuffix>TND</span>
                    <mat-error *ngIf="f['selectedPriceTTC'].errors?.['required']">Prix TTC requis</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ tva_label }}</mat-label>
                    <mat-select formControlName="selectedTva">
                        <mat-option *ngFor="let tva of appvariablesTVA" [value]="tva.id">
                            {{ tva.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['selectedTva'].errors?.['required']">TVA requise</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ calculated_price_label }} HT</mat-label>
                    <input formControlName="calculatedPriceHT" type="number" matInput readonly class="readonly-input">
                </mat-form-field>
            </div>

            <div class="form-row">
                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ quantity_unit }}</mat-label>
                    <mat-select formControlName="quantityUnit">
                        <mat-option *ngFor="let unit of quantityUnits" [value]="unit">{{ unit }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f['quantityUnit'].errors?.['required']">Unité requise</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ min_quantity }}</mat-label>
                    <input formControlName="minquantity" type="number" matInput>
                    <mat-error *ngIf="f['minquantity'].errors?.['required']">Quantité minimale requise</mat-error>
                    <mat-error *ngIf="f['minquantity'].errors?.['min']">Min 0</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-1">
                    <mat-label>{{ min_profit_percentage }} (%)</mat-label>
                    <input formControlName="profitpercentage" type="text" matInput>
                    <mat-error *ngIf="f['profitpercentage'].errors?.['required']">Marge (%) requise</mat-error>
                    <mat-error *ngIf="f['profitpercentage'].errors?.['percentage']">Format invalide (Ex: 20 ou 20%)</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="modal-footer">
    <button mat-button (click)="onNoClick()">{{ abort_button }}</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" class="save-btn">
        <mat-icon>{{ isEditMode ? 'check' : 'save' }}</mat-icon>
        {{ isEditMode ? 'Mettre à jour' : 'Enregistrer' }}
    </button>
</mat-dialog-actions>