
# ===== Git backup =====
.git_backup
.git_backup/
*/.git_backup

# ===== Node / Angular =====
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/
.cache/

# ===== .NET / C# =====
bin/
**/bin/
obj/
**/obj/

# ===== Visual Studio =====
.vs/
*.user

# ===== Environment / secrets =====
*.env
appsettings.Development.json
appsettings.Local.json

# ===== Logs =====
*.log
logs/

# ===== OS =====
Thumbs.db
.DS_Store

# ===== Docker / Database =====
postgres-data/
**/postgres-data/
pgdata/
**/pgdata/
