<mat-toolbar color="primary" class="header-toolbar">
    <button mat-icon-button (click)="onReturn()" matTooltip="Retour">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Gestion des Fournisseurs</span>
    <span class="customer-count-badge">{{allSuppliers.data.length}}</span>
    <span class="spacer"></span>
    <button mat-raised-button class="add-button" [routerLink]="['add']">
        <mat-icon>add</mat-icon>
        Ajouter un Fournisseur
    </button>
</mat-toolbar>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="main-container">
    <mat-card class="content-card">
        <div class="search-row">
            <mat-form-field appearance="outline" class="search-field">
                <mat-label>Rechercher un fournisseur</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Nom, MF, Email..." #input>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="table-scroll-container">
            <table mat-table [dataSource]="allSuppliers" matSort class="w-100">

                <ng-container matColumnDef="prefix">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon class="header-icon">business</mat-icon> Sté
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.prefix}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon class="header-icon">person</mat-icon> Nom
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="responsable">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon class="header-icon">account_circle</mat-icon> Responsable
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon class="header-icon">info</mat-icon> Description
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="taxregistration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon class="header-icon">description</mat-icon> MF
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.taxregistrationnumber || '--'}} </td>
                </ng-container>

                <ng-container matColumnDef="phoneone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon class="header-icon">phone</mat-icon> Téléphone 1
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.phonenumberone}} </td>
                </ng-container>

                <ng-container matColumnDef="phonetwo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon class="header-icon">phone_android</mat-icon> Téléphone 2
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.phonenumbertwo}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-icon class="header-icon">email</mat-icon> Email
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.email?.trim() ? element.email : '--'}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        <mat-icon class="header-icon">settings</mat-icon> Actions
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center action-buttons">
                        <button mat-icon-button class="btn-detail" (click)="onDetail(element)" matTooltip="Détails">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button class="btn-edit" (click)="editProvider(element)" matTooltip="Modifier">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class="btn-delete" (click)="deleteSupplier(element)"
                            matTooltip="Supprimer">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedProvidersColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedProvidersColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9" class="text-center p-4">
                        Aucun fournisseur trouvé pour : "{{input.value}}"
                    </td>
                </tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>