.search {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar-container {
    flex-grow: 1;
    padding: 0px 56px 0px 8px;
    background: #eaf1fb;
    border-radius: 32px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

input {
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: inherit;
    min-width: 352px;
    flex-grow: 1;
}

.card-details {
    margin: 20px;
    padding: 20px;
}

.reset {
    background-color: #f44336;
    color: white;
}

.filter {
    background-color: #4CAF50;
    color: white;
}

.half-width {
    width: calc(50% - 10px);
    /* Adjust width to account for the gap */
    margin-bottom: 15px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.half-width-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adds space between the form fields */
}

.control-button {
    display: flex;
    justify-content: flex-end;
    /* Align items to the end (left) */
    margin-right: 12px;
    margin-top: 18px;
    align-items: center;
}

.control-button button {
    margin-right: 10px;
    /* Add space between buttons */
}

/*Optional: Remove the right margin for the last button */
.control-button button:last-child {
    margin-right: 0;
}