<app-header [sidenav]="sidenav"></app-header>
<mat-sidenav-container class="dashboard-container" autosize>
  <mat-sidenav #sidenav="matSidenav" [class.collapsed]="isCollapsed" class="modern-sidebar">
    <div class="sidebar-header" [class.mini]="isCollapsed">
      <img class="avatar mat-elevation-z4" src="https://gravatar.com/avatar" />
      <div class="user-info" *ngIf="!isCollapsed">
        <h4 class="name">SOCOFEB</h4>
        <p class="designation">Vente Bois et Dérivés</p>
      </div>
    </div>
    
    <mat-divider></mat-divider>
    
    <div class="nav-content">
      <!-- Administration -->
      <button mat-button class="menu-item" *ngIf="isAdmin" routerLink="admin-dashboard" routerLinkActive="active-route"
              [matTooltip]="isCollapsed ? button_administration : ''" matTooltipPosition="right">
        <mat-icon>admin_panel_settings</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{button_administration}}</span>
      </button>

      <!-- Home -->
      <button mat-button class="menu-item" routerLink="dashboard" routerLinkActive="active-route"
              [matTooltip]="isCollapsed ? button_home : ''" matTooltipPosition="right">
        <mat-icon>home</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{button_home}}</span>
      </button>

      <!-- Vente -->
      <button mat-button class="menu-item" (click)="toggleVenteMenu()" [class.expanded]="isVenteMenuOpen"
              [matTooltip]="isCollapsed ? menu_sell : ''" matTooltipPosition="right">
        <mat-icon>store</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{menu_sell}}</span>
        <span class="spacer" *ngIf="!isCollapsed"></span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{isVenteMenuOpen ? 'expand_less' : 'expand_more'}}</mat-icon>
      </button>
      <div class="submenu" [class.open]="isVenteMenuOpen" *ngIf="!isCollapsed">
        <a class="sub-menu-item" routerLink="devis" routerLinkActive="active-sub">
          <span>{{menu_sub_sell_devis}}</span>
        </a>
        <a class="sub-menu-item" routerLink="bc" routerLinkActive="active-sub">
          <span>{{menu_sub_sell_bc}}</span>
        </a>
        <div class="sub-menu-row">
          <a class="sub-menu-item flex-item" routerLink="customerdelivery" routerLinkActive="active-sub">
            <span>{{menu_sub_sell_bl}}</span>
          </a>
          <button mat-icon-button class="add-btn" routerLink="customerdelivery/add"><mat-icon>add_circle_outline</mat-icon></button>
        </div>
        <div class="sub-menu-row">
          <a class="sub-menu-item flex-item" routerLink="customerinvoices" routerLinkActive="active-sub">
            <span>{{menu_sub_sell_fact}}</span>
          </a>
          <button mat-icon-button class="add-btn" routerLink="customerinvoices/add"><mat-icon>add_circle_outline</mat-icon></button>
        </div>
        <a class="sub-menu-item" routerLink="stock/exit" routerLinkActive="active-sub">
          <span>{{menu_sub_sell_bon_sortie}}</span>
        </a>
      </div>

      <!-- Achat -->
      <button mat-button class="menu-item" (click)="toggleAchatMenu()" [class.expanded]="isPurchaseMenuOpen"
              [matTooltip]="isCollapsed ? menu_purchase : ''" matTooltipPosition="right">
        <mat-icon>shopping_cart</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{menu_purchase}}</span>
        <span class="spacer" *ngIf="!isCollapsed"></span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{isPurchaseMenuOpen ? 'expand_less' : 'expand_more'}}</mat-icon>
      </button>
      <div class="submenu" [class.open]="isPurchaseMenuOpen" *ngIf="!isCollapsed">
        <div class="sub-menu-row">
          <a class="sub-menu-item flex-item" routerLink="supplierorder/list" routerLinkActive="active-sub">
            <span>{{menu_sub_purchase_bc}}</span>
          </a>
          <button mat-icon-button class="add-btn" routerLink="supplierorder/add"><mat-icon>add_circle_outline</mat-icon></button>
        </div>
        <div class="sub-menu-row">
          <a class="sub-menu-item flex-item" routerLink="reception/list" routerLinkActive="active-sub">
            <span>{{menu_sub_purchase_br}}</span>
          </a>
          <button mat-icon-button class="add-btn" routerLink="reception"><mat-icon>add_circle_outline</mat-icon></button>
        </div>
        <a class="sub-menu-item" routerLink="sinvoices" routerLinkActive="active-sub">
          <span>{{menu_sub_purchase_fact}}</span>
        </a>
      </div>

      <!-- Client -->
      <button mat-button class="menu-item" routerLink="customers" routerLinkActive="active-route"
              [matTooltip]="isCollapsed ? menu_client : ''" matTooltipPosition="right">
        <mat-icon>group</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{menu_client}}</span>
      </button>

      <!-- Fournisseur -->
      <button mat-button class="menu-item" routerLink="providers" routerLinkActive="active-route"
              [matTooltip]="isCollapsed ? menu_provider : ''" matTooltipPosition="right">
        <mat-icon>view_in_ar</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{menu_provider}}</span>
      </button>

      <!-- Articles -->
      <button mat-button class="menu-item" routerLink="articles" routerLinkActive="active-route"
              [matTooltip]="isCollapsed ? menu_articles : ''" matTooltipPosition="right">
        <mat-icon>article</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{menu_articles}}</span>
      </button>

      <!-- Stock -->
      <button mat-button class="menu-item" (click)="toggleStockMenu()" [class.expanded]="isStockMenuOpen"
              [matTooltip]="isCollapsed ? menu_stock : ''" matTooltipPosition="right">
        <mat-icon>inventory</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{menu_stock}}</span>
        <span class="spacer" *ngIf="!isCollapsed"></span>
        <mat-icon class="expand-icon" *ngIf="!isCollapsed">{{isStockMenuOpen ? 'expand_less' : 'expand_more'}}</mat-icon>
      </button>
      <div class="submenu" [class.open]="isStockMenuOpen" *ngIf="!isCollapsed">
        <a class="sub-menu-item" routerLink="stock" routerLinkActive="active-sub">
          <span>{{menu_sub_stock_manage}}</span>
        </a>
        <a class="sub-menu-item" routerLink="stock/transferinfo" routerLinkActive="active-sub">
          <span>{{menu_sub_stock_list}}</span>
        </a>
        <div class="sub-menu-row">
          <a class="sub-menu-item flex-item" routerLink="inventory/list" routerLinkActive="active-sub">
            <span>{{menu_sub_inventory}}</span>
          </a>
          <button mat-icon-button class="add-btn" routerLink="inventory/add"><mat-icon>add_circle_outline</mat-icon></button>
        </div>
      </div>

      <!-- Comptabilité -->
      <button mat-button class="menu-item"
              [matTooltip]="isCollapsed ? menu_accounting : ''" matTooltipPosition="right">
        <mat-icon>credit_score</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{menu_accounting}}</span>
      </button>
      
      <mat-divider class="my-3"></mat-divider>
      <!-- Help -->
      <button mat-button class="menu-item"
              [matTooltip]="isCollapsed ? menu_help : ''" matTooltipPosition="right">
        <mat-icon>help</mat-icon>
        <span class="menu-text" *ngIf="!isCollapsed">{{menu_help}}</span>
      </button>
    </div>

    <!-- Collapse Toggle (Bottom) -->
    <div class="sidebar-footer">
      <button mat-icon-button class="collapse-btn" (click)="toggleCollapse()" [matTooltip]="isCollapsed ? 'Agrandir' : 'Réduire'">
        <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-content-wrapper">
    <div class="route-content-box">
      <!-- Loading bar logic could go here ngx-progressbar if asked, but User prefers router outlet placement -->
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>