<div class="modal-wrapper mat-typography">
    <div class="modal-header">
        <div class="header-title">
            <mat-icon>category</mat-icon>
            <h2>{{mat_dialog_title_modal_update_sub_categories}}</h2>
        </div>
        <button mat-icon-button (click)="onNoClick()" class="close-btn">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="modal-content">
        <form [formGroup]="categoryForm">
            <div class="form-section">
                <div class="section-title">
                    <mat-icon>label</mat-icon>
                    <span>Catégorie Parent</span>
                </div>
                <div class="form-grid">
                    <mat-form-field appearance="outline">
                        <mat-label>{{mat_label_reference}}</mat-label>
                        <input matInput formControlName="reference" readonly />
                        <mat-icon matPrefix>code</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>{{mat_label_description}}</mat-label>
                        <input matInput formControlName="description" readonly />
                        <mat-icon matPrefix>description</mat-icon>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-section">
                <div class="section-header">
                    <div class="section-title">
                        <mat-icon>account_tree</mat-icon>
                        <span>Gestion des Sous-catégories</span>
                    </div>
                    <button mat-stroked-button color="primary" type="button" (click)="addSubcategory()" class="add-btn">
                        <mat-icon>add</mat-icon>
                        {{add_under_category_button}}
                    </button>
                </div>

                <div class="subcategory-list">
                    <div formArrayName="subcategories" *ngFor="let subcategory of subcategories.controls; let i=index" class="subcategory-item">
                        <div class="item-grid" [formGroupName]="i">
                            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                                <mat-label>{{mat_label_reference}}</mat-label>
                                <input matInput formControlName="subReference" [readonly]="!subcategory.get('subReference')?.enabled" />
                                <mat-icon matPrefix>tag</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" subscriptSizing="dynamic">
                                <mat-label>{{mat_label_description}}</mat-label>
                                <input matInput formControlName="subDescription" [readonly]="!subcategory.get('subDescription')?.enabled" />
                                <mat-icon matPrefix>info_outline</mat-icon>
                            </mat-form-field>
                            <button *ngIf="subcategory.get('subReference')?.enabled" mat-icon-button color="warn" type="button" (click)="removeSubcategory(i)" matTooltip="Supprimer" class="delete-btn">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                            <div *ngIf="!subcategory.get('subReference')?.enabled" class="lock-indicator" matTooltip="Sous-catégorie existante (Lecture seule)">
                                <mat-icon>lock</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-actions">
        <button mat-button color="warn" (click)="onNoClick()" class="btn-cancel">
            {{abort_button}}
        </button>
        <button mat-raised-button color="primary" (click)="onSubmit()" class="btn-save">
            <mat-icon>save</mat-icon>
            {{register_button}}
        </button>
    </div>
</div>
