.dialog-title {
    display: flex;
    align-items: center;
    color: #3f51b5;

    .title-icon {
        margin-right: 8px;
    }
}

.dialog-content {
    padding: 16px 0;
}

.detail-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 20px;
    margin-right: 10px;
}

.detail-item-full {
    flex: 1 1 calc(100% - 8px);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f5f5f5;

    .detail-label-full {
        font-weight: 500;
        color: #666;
        font-size: 0.9em;
    }

    .detail-value-full {
        font-size: 1.1em;
        margin-top: 4px;
    }
}

.detail-value-full {
    resize: none;
    border: none;
    background: transparent;
    font-family: inherit;
    padding: 0;
}

.detail-item {
    flex: 1 1 calc(50% - 8px);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f5f5f5;

    .detail-label {
        font-weight: 500;
        color: #666;
        font-size: 0.9em;
    }

    .detail-value {
        font-size: 1.1em;
        margin-top: 4px;
    }
}

.half-width-wrapper {
    display: flex;
    gap: 16px;
    width: 100%;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 15px;
}

.detail-value-full div {
    display: block;
    margin-bottom: 4px;
}

.detail-value-full div:last-child {
    margin-bottom: 0;
}

.w-100 {
    width: 100%;
}