.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.half-width-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adds space between the form fields */
}

.control-button {
    display: flex;
    justify-content: flex-end;
    /* Align items to the end (left) */
    margin-right: 12px;
    margin-top: 12px;
    align-items: center;
}


