mat-toolbar {
    justify-content: space-between;
    background: #004a9f;
    color: white;

}

.appuser-enterprise {
    display: flex;

    /* Adds space between the two mat-cards */
}

.enterprise-info {
    flex: 3;
    /* Takes 60% of the container width (3 out of 5 parts) */
}

.enterprise-auth {
    flex: 2;
    /* Takes 40% of the container width (2 out of 5 parts) */
}

.form-container {
    padding: 32px;
    display: block;
    max-width: 400px;
    margin: auto;

    background: #eceff1;
    padding: 48px;
    border-radius: 16px;
}

.form-container mat-form-field {
    width: 100%;

}

.margin-top {
    margin-top: 16px;
}

.center {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}

/* .company-info-card,
.company-details-card {
    margin: 20px;
    padding: 20px;
} */

.card-details {
    margin: 10px;
    padding: 20px;

}

.company-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.company-logo img {
    width: 45px;
    height: 50px;
}

.company-details-card h3 {
    margin-bottom: 20px;
}

.half-width-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adds space between the form fields */
}

.square-width-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adds space between the form fields */
}

.square-width {
    width: calc(33.3333% - 6.66px);
    /* Adjust width to account for the gap */
    margin-bottom: 15px;
}

.half-width {
    width: calc(50% - 10px);
    /* Adjust width to account for the gap */
    margin-bottom: 15px;
}


.full-width {
    width: 100%;
    margin-bottom: 15px;
}

/* button {
    display: block;
    margin-top: 20px;
  } */

.control-button {
    display: flex;
    justify-content: flex-end;
    /* Align items to the end (left) */
    margin-right: 12px;
    margin-top: 12px;
    align-items: center;
}

.control-button button {
    margin-right: 10px;
    /* Add space between buttons */
}

/* Optional: Remove the right margin for the last button */
.control-button button:last-child {
    margin-right: 0;
}

.half-width-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adds space between the form fields */
}

.custom-icon {
    transform: scale(2);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



table {
    cursor: pointer;
}

.blue-icon {
    color: blue;
}

.red-icon {
    color: red;
}

.green-icon {
    color: green;
}

.user-count-badge {
    font-size: 1em;
    margin-left: 10px;
}

/* Centering the container on the page */
.form-container {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically (optional) */
    min-height: 100vh;
    /* Full viewport height for vertical centering */
    padding: 20px;
    /* Optional padding around the form */
    background-color: #f5f5f5;
    /* Optional background color */
}

/* Set a width and other styling for your form content */
.form-content {
    width: 70%;
    /* Set the desired width */
    max-width: 800px;
    /* Optional maximum width for large screens */
    background-color: #ffffff;
    /* Optional background for the form area */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow */
}

.red-icon {
    color: red;
}

.ask-margin {
    margin: 0 10px;
}

.full-width-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.full-width-wrapper mat-checkbox {
    margin-right: 10px;
    transform: scale(1);
    /* Adjust the scale for the size of the checkbox */
}

.full-width-wrapper mat-checkbox>label {
    margin-top: 20px;
}