.card-details {
    margin: 20px;
    padding: 20px;
}

.control-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
    margin-top: 12px;
    align-items: center;
}

.control-button button {
    margin-right: 10px;
}

.control-button button:last-child {
    margin-right: 0;
}

.half-width-wrapper,
.square-width-wrapper {
    display: flex;
    flex-wrap: nowrap;
    /* Keep fields in one line */
    gap: 10px;
    /* Add spacing between fields */
}

.half-width,
.square-width {
    width: calc(33.33% - 10px);
    /* Consistent width for all form fields */
    margin-bottom: 15px;
}

mat-form-field {
    flex: 1;
    /* Make fields expand equally */
    min-width: 0;
    /* Prevent fields from exceeding their container */
    height: 80px;
}

mat-select,
input {
    width: 100%;
    /* Ensure inputs and selects take full width of mat-form-field */
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

/* Responsive layout for smaller screens 
@media (max-width: 768px) {

    .half-width,
    .square-width {
        width: 100%;
        /* Stack fields for smaller screens 
    }
    .half-width-wrapper, .square-width-wrapper {
        flex-wrap: wrap;
    }
}*/