<h1 mat-dialog-title class="dialog-title">
    <mat-icon class="title-icon">local_shipping</mat-icon>
    Détails du transfert
</h1>

<div mat-dialog-content class="dialog-content">
    <div class="detail-grid">
        <div class="half-width-wrapper">
            <div class="detail-item">
                <span class="detail-label">Doc. Sortie N°:</span>
                <span class="detail-value">{{ commonData.docSortie || 'N/A' }}</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">Doc. Reception N°:</span>
                <span class="detail-value">{{ commonData.docReception || 'N/A' }}</span>
            </div>
        </div>

        <div class="half-width-wrapper">
            <div class="detail-item">
                <span class="detail-label">Dépôt Origine:</span>
                <span class="detail-value">{{ commonData.origine || 'N/A' }}</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">Dépôt Destination:</span>
                <span class="detail-value">{{ commonData.destination || 'N/A' }}</span>
            </div>
        </div>

        <div class="full-width" *ngFor="let item of items">
            <div class="detail-item-full">
                <span class="detail-label-full">Marchandise:</span>
                <div class="detail-value-full">
                    <div>{{ getMerchandiseInfo(item).line1 }}</div>
                    <div>{{ getMerchandiseInfo(item).line2 }}</div>
                    <div style="text-decoration: solid;">{{ getMerchandiseInfo(item).line3 }}</div>
                </div>
            </div>
        </div>

        <div class="half-width-wrapper">
            <div class="detail-item">
                <span class="detail-label">Date du transfert:</span>
                <span class="detail-value">{{ commonData.transferDate | date:'mediumDate' }}</span>
            </div>

            <div class="detail-item">
                <span class="detail-label">Transporteur:</span>
                <span class="span" class=" detail-value">{{ commonData.transporter || 'N/A' }}</span>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial color="primary">Close</button>
</div>