.dialog-title {
    display: flex;
    align-items: center;
    color: #3f51b5;

    .title-icon {
        margin-right: 8px;
    }
}

.dialog-content {
    padding: 16px 0;
}

.detail-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 20px;
    margin-right: 10px;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px; */
}

.detail-item-full {
    flex: 1 1 calc(100% - 8px);
    /* Two items per row with gap accounted for */
    min-width: 300px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    /* Adjust width to account for the gap */
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f5f5f5;

    .detail-label-full {
        font-weight: 500;
        color: #666;
        font-size: 0.9em;
    }

    .detail-value-full {
        font-size: 1.1em;
        margin-top: 4px;
    }
}

.detail-value-full {
    /* your existing styles */
    resize: none;
    /* prevents resizing if you want it fixed */
    border: none;
    background: transparent;
    font-family: inherit;
    padding: 0;
    /* Add other textarea-specific styles as needed */
}

.detail-item {
    flex: 1 1 calc(50% - 8px);
    /* Two items per row with gap accounted for */
    min-width: 300px;
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    /* Adjust width to account for the gap */
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f5f5f5;

    .detail-label {
        font-weight: 500;
        color: #666;
        font-size: 0.9em;
    }

    .detail-value {
        font-size: 1.1em;
        margin-top: 4px;
    }
}

.transfer-details-dialog {
    .mat-dialog-container {
        padding: 24px;
        border-radius: 8px;
    }
}

.half-width-wrapper {
    display: flex;
    gap: 16px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 15px;
}

.full-width-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.detail-value-full div {
    display: block;
    margin-bottom: 4px;
}
.detail-value-full div:last-child {
    margin-bottom: 0;
}