.card-details {
    margin: 20px;
    padding: 20px;
}

.half-width {
    width: calc(50% - 10px);
    /* Adjust width to account for the gap */
    margin-bottom: 15px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.half-width-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adds space between the form fields */
}

.square-width-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Adds space between the form fields */
}

.square-width {
    width: calc(33.3333% - 6.66px);
    /* Adjust width to account for the gap */
    margin-bottom: 15px;
}

.form-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Adjust the gap value as needed */
    padding: 15px;
}

.form-content-price {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 40px;
    /* Adjust the gap value as needed */
    padding: 15px;
}



/* mat-form-field{
    font-weight: 400;
    font-size: x-large;
} */

.form-field {
    min-width: 49%;
    /* Minimum width to ensure proper wrapping */
}

.control-button {
    display: flex;
    justify-content: flex-end;
    /* Align items to the end (left) */
    margin-right: 12px;
    margin-top: 12px;
    align-items: center;
}

.control-button button {
    margin-right: 0px;
    /* Add space between buttons */
}

/* Optional: Remove the right margin for the last button */
.control-button button:last-child {
    margin-right: 0;
}

.scrollable-content {
    max-height: 600px;
    /* Adjust this height as needed */
    overflow-y: auto;
    padding: 1rem;
}

/* .slide-toggle-container mat-slide-toggle {
    display: inline-flex;
    /*width: calc(33.3333% - 6.6666px);
    /* Adjust width to account for the gap 
    margin-bottom: 0px;
    margin-top: 15px;
    /* Adjust the value as needed 
} */

.slide-toggle-container {
    display: flex;               /* Use flex to control alignment */
    align-items: flex-start;      /* Aligns items to the top */
    justify-content: flex-end;  /* Aligns items to the left */
    margin-top: 0;                /* Adjusts top margin as needed */
}

mat-slide-toggle.my-slide {
    --mdc-switch-selected-handle-color: lightgreen;
    --mdc-switch-selected-pressed-handle-color: lightgreen;
    --mdc-switch-selected-pressed-state-layer-color: green;
    --mdc-switch-selected-hover-state-layer-color: lightgreen;
    --mdc-switch-selected-hover-handle-color: lightgreen;
    --mdc-switch-selected-focus-state-layer-color: lightgreen;
    --mdc-switch-selected-focus-handle-color: lightgreen;
    --mdc-switch-selected-track-color: green;
    --mdc-switch-selected-pressed-track-color: green;
    --mdc-switch-selected-hover-track-color: green;
    --mdc-switch-selected-focus-track-color: green;
}