.half-width {
    width: calc(50% - 10px); /* Adjust width to account for the gap */
    margin-bottom: 15px;
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.half-width-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adds space between the form fields */
}

.control-button {
    display: flex;
    justify-content: flex-end;
    /* Align items to the end (left) */
    margin-right: 12px;
    margin-top: 0px;
    align-items: center;
}

.add-subcategory-wrapper {
    margin-bottom: 30px; /* Adds space after the add button */
}

.square-width-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adds space between the form fields */
}

.square-width{
    width: calc(45% - 6.66px); /* Adjust width to account for the gap */
    margin-bottom: 15px;
}

.square-width:last-child{
    width: auto; /* Adjust width to account for the gap */
    margin-bottom: 15px;
}



