.modal-form-container {
    padding-top: 10px;
}

.row-flex {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}

.flex-1 {
    flex: 1;
}

.flex-3 {
    flex: 3;
}

.full-width {
    width: 100%;
}

mat-form-field {
    width: 100%;
}

::ng-deep .mat-mdc-dialog-container {
    padding: 0 !important;
}

h2[mat-dialog-title] {
    margin: 0;
    padding: 16px 24px;
    background-color: #3f51b5;
    color: white;
}

mat-dialog-content {
    margin: 0 !important;
    padding: 24px !important;
}

mat-dialog-actions {
    padding: 16px 24px !important;
    border-top: 1px solid #eee;
}