<mat-toolbar>
  <button mat-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon class="custom-icon" *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon class="custom-icon" *ngIf="sidenav.opened">close</mat-icon>
  </button>
  Gestion Commerciale

  @if (isLoggedIn()) {
  <div *ngIf="authService.getUserDetail() as userDetail" class="user-info">
    <!-- Add Notifications to mat-toolbar -->
    <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" style="scale: 1.2; margin-right: 5px;"
      [matBadge]="notificationService.getPendingNotifications().length" matBadgeColor="primary">
      <mat-icon>notifications</mat-icon>
    </button>

    <!-- <mat-menu #notificationsMenu="matMenu">
      <div *ngIf="notificationService.getPendingNotifications().length === 0">
        <button mat-menu-item disabled>Aucune notification</button>
      </div>
      <ng-container *ngIf="notificationService.getPendingNotifications().length > 0">
        <button *ngFor="let notif of notificationService.getPendingNotifications()" mat-menu-item
          (click)="openTransferConfirmation(notif)" style="width: auto;">
          <mat-icon>move_to_inbox</mat-icon>
          <span>Dépôt Origine : {{notif.originSite}} - Doc. N° : {{notif.exitDocNumber}} - ({{notif.itemsCount}} marchandise(s))</span>
        </button>
      </ng-container>
    </mat-menu> -->
    <mat-menu #notificationsMenu="matMenu">
      <div *ngIf="notificationService.getPendingNotifications().length === 0">
        <button mat-menu-item disabled>Aucune notification</button>
      </div>

      <ng-container *ngIf="notificationService.getPendingNotifications().length > 0">
        <button *ngFor="let notif of notificationService.getPendingNotifications()" mat-menu-item
          (click)="openTransferConfirmation(notif)" class="notification-item">
          <mat-icon class="notification-icon">move_to_inbox</mat-icon>
          <div class="notification-content">
            <div class="notification-line">
              <span class="notification-label">Dépôt Origine:</span>
              <span class="notification-value">{{notif.originSite}}</span>
            </div>
            <div class="notification-line">
              <span class="notification-label">Doc. Sortie N°:</span>
              <span class="notification-value">{{notif.exitDocNumber}}</span>
            </div>
            <div class="notification-line">
              <span class="notification-label">Nbre. Articles:</span>
              <span class="notification-value">{{notif.itemsCount}}</span>
            </div>
          </div>
        </button>
      </ng-container>
    </mat-menu>
    <!-- User Role and Name Area -->
    <div class="user-info-container">
      <div class="user-role"><mat-icon matSuffix
          style="scale: 1.2; margin-right: 5px;">person_pin_circle</mat-icon>{{SalesSite}}</div>
    </div>

    <!-- Settings Button -->
    <button mat-icon-button routerLink="config">
      <mat-icon class="custom-icon">settings</mat-icon>
    </button>

    <!-- Profile and Logout Menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="custom-icon">person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="['/login', userDetail.id]" mat-menu-item (click)="openProfile()">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>
  </div>
  }
</mat-toolbar>